<!DOCTYPE HTML>
<html> 
<head>
    
    <title> Title for Assignmebt 2</title>
    
    </head>
<body>
    <form name="assignment_2" method="post">
        <table> 
            
            <br>
            
           <h3> Log In and Error Handling Assignment # 2 </h3>
            
            
<br>
  
        <tr>
 
        <td> First Name</td>
        <td> <input type = 'text' placeholder=" Enter First Name" name="FirstName" id="firstname" value=""/> </td>
        </tr>
        
            <tr>
            <td> Last Name </td>
            <td> <input type = 'text' placeholder="Enter Last Name" name="LastName" id="lastname" value=""/> </td>
                
            </tr>
            
            <tr>
            <td> Address </td>
            <td> <input type="text" placeholder="Enter Address" name="Address" id="address" value=""/> </td> 
            </tr>
           
           <tr>
            
            <td> Password</td>
            <td> <input type="password" placeholder="Enter Password" name="Password" id="password" value=""/>   </td>
            
            </tr>

            
            <tr>
            <td> Gender</td>
            <td> <input type="radio" name="gender" name="male" id="gemale"/> Male <br>
             <input type="radio" name="gender" name="female" id="gefemale"/> Female<br>
            <input type="radio" name="gender" name="other" id="geother"/> Other </td>
            </tr> 
            
             <tr>
                 <td> Cars </td>
             <td>
                  <input type = 'checkbox' name = 'toyota' name = 'toyota' id = 'toyota'> Toyota
                        <input type = 'checkbox'  name = 'honda' name = 'honda' id = 'honda'> Honda
                        <input type = 'checkbox'  name = 'nissan' name = 'nissan' id = 'nissan'> Nissan
                       <input type = 'checkbox'  name = 'bmw' name = 'bmw' id = 'bmw'> BMW
                 </td>
            </tr>
            <tr>
            <td> Countries</td>
            <td>
                <select name="countries" id="countries">
                <option selected disabled> Selecte the Country</option>
                <option value="China"> China </option>
                <option value="UK"> UK </option>
                <option value="US"> United States</option>
                <option value="YE">Yemen</option>
	            <option value="ZM">Zambia</option>
	            <option value="ZW">Zimbabwe</option>
       
                </select>
                
                </td>
            
            
            
            
            </tr>
    
    </table>
    </form>
    </body>
</html>