<!DOCTYPE HTML>

<html>
<head>
    
    
  <title> First Assignment of UI Class </title>  
    <link rel='stylesheet' href = '/style/style.css'> 
    
    
    
    </head>

<body>
    
    <h1> Available Links </h1>
    
    <table> 
    
        <thead>
            <tr>
            
            
            <th id='firstth'> Links </th>
            <th id='firstth' > Description</th>
 
            </tr>
            
       
       </thead>
        <tbody>
        
        <tr>
            <td> <a href="http://www.nationalgeographic.com/" target="_blank"> National Geographic Link </a> </td>
            <td> Home page of National Geographic </td>
            
            </tr>
            
            <tr>
            
            <td>  <a href="index.html" target="_blank"> This is the internal link</a> </td>
            <td> The interna has the details of UI class projects </td>
            
            
            </tr>
        
           <tr>
            
            
             <td>  <a href="http://www.youtube.com/" target="_blank"> YouTube Link</a> </td>   
            <td>YouTube is an American video-sharing website </td>
               
            </tr>
        
        
        </tbody>
    
    </table>
    
    </body>

</html>