<!DOCTYPE HTML>

<html> 
<head>
    
    
    <title> Get Forms </title>
    <script type='text/javascript' src='/scripts/process.js'> </script>
    
    
    
    </head>
        <body>
    
            <form name = 'getform' > 
         <table>
            <tr> 
                <td> First Name</td>
                <td><input type = 'text' placeholder = "Enter First Name" name ='FirstName' id='FirstName' value = ''/>    </td>
             
             </tr>
            
            
            
            <tr>
             
             <td> Last Name</td>
              <td><input type = 'text'placeholder = "Enter Last Name" name ='LastName' id='LastName' value = ''/>    </td>
             
             </tr>
            
            
            
            <tr>
             
             <td> Address </td>
              <td><input type = 'text'placeholder = "Enter Address" name ='Address' id='Address' value = ''/>    </td>
             
             
             
             </tr>
             
             <tr>
             <td> Password</td>
             <td> <input type= 'password' placeholder = "Enter Password" name = 'Password' id= 'Password' value = ''></td>
             
             
             
             </tr>
                 <td colspan = "2"> <input type = 'submit' onclick="processform()"  value = 'Formsubmit'/> </td>
             
             <tr>
             
             
             
             
             </tr>
            
            
            
     
            </table>
           </form>
    </body>
    
</html>