<!doctype html>
<html>
<head>
   
    
    <title> First Page/Assignment </title> 
    <link rel='stylesheet' href = '/style/style.css'>
    <style>
    
       
    
        h2, h3,h4,h5, h6 {
            
            color:blue;
        }
    
    
        h3 {
            
            cursor:pointer;
        }
    
 
    
    </style>
    </head>   
    <body>
    
        <h1 style = "color:red"> Header </h1>
        <h2> Header</h2>
        <h3> Header </h3>
        <h4> Header </h4>
        <h5> Header </h5>
        <h6> Header </h6>
        
    <span> Hello World</span> <br>
        
    <span> Good Morning</span> <br>
    <span> Hola Amigos </span> <br>
    <span> Don Carlos  </span><br>
    <span id = 'firstspan'> with id </span> <br>
    <span class="group" id = 'secondspan'> Second id </span> <br>
    <span class = 'group'> Group </span> <br>
        
        <h6 class = 'group'> Run this code </h6> <br>
        
    
    
    </body>
    
</html>