<!DOCTYPE HTML>
<html>    
<head>
    
    <title> Welcome to my page </title>
    
    
    
    
   
    
    </head>
    
<body> 
    
<h1> Order List Examples</h1>  <br>  
   <ol>
    <li> Apple</li>
    <li> Orange </li>
    <li> Banana </li>
    
    </ol> 
    <br>
    <h1> Unordered list examples </h1> <br>
    <ui>
    <li> Tiger</li>
    <li> LIon </li>
    <li> Cat </li>
    <li> Dog </li>
    
    
    
    
    
    
    
    </ui>
    
    
    
    
    
    
    
    
    
    
    
    </body>    
    
    
    
    
    
</html>