<!DOCTYPE HTML>

<html> 
<head>
    
    
    <title> Get Forms </title>
    
    
    
    
    </head>
        <body>
    
            <form name = 'postform' method='Post'> 
         <table>
            <tr> 
                <td> First Name</td>
                <td><input type = 'text' name ='FirstName' id='FirstName' value = ''/>    </td>
             
             </tr>
            
            
            
            <tr>
             
             <td> Last Name</td>
              <td><input type = 'text' name ='LastName' id='LastName' value = ''/>    </td>
             
             </tr>
            
            
            
            <tr>
             
             <td> Address </td>
              <td><input type = 'text' name ='Address' id='Address' value = ''/>    </td>
             
             
             
             </tr>
             
             <tr>
             <td> Password</td>
             <td> <input type= 'password' name = 'Password' id= 'Password' value = ''</td>
             
             
             
             </tr>
                 <td colspan = "2"> <input type = 'submit' value = 'Formsubmit'/> </td>
             
             <tr>
             
             
             
             
             </tr>
            
            
            
     
            </table>
           </form>
    </body>
    
</html>